<a href="https://colab.research.google.com/github/raultyv/Tareas/blob/main/02_estructuras_de_datos_LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.ctic.uni.edu.pe/wp-content/uploads/2022/04/588px-x-348px-web-1.png" alt="HTML5 Icon" width="900" height="350" >

<h1 align=center><font size = 5>ESTRUCTURAS DE DATOS - PARTE 1
</font></h1>

---

## Tabla de Contenidos

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Listas</a>  
2. <a href="#item31">Tuplas</a>  
3. <a href="#item31">Slicing</a>  
4. <a href="#item31">List comprehension</a>  
</font>
</div>

---

## <b>Objetivo:</b>

Este laboratorio está diseñado para cubrir los conceptos de listas, tuplas, slicing, y listas por comprensión, con ejercicios detallados para practicar la manipulación de estos tipos de datos en Python.

---

## <b>1. Trabajando con Listas numéricas</b>

Las listas son una secuencia de elementos que pueden ser modificados después de su creación. Vamos a realizar varias operaciones con listas numéricas, utilizando también la función range() para generar secuencias de números.

### Ejemplo 1.1: Creación de listas

In [2]:
my_list = [1, 2, 3, 5 , 10,  'hola', 'a', [1, 2, '3']]
print(my_list)

[1, 2, 3, 5, 10, 'hola', 'a', [1, 2, '3']]

In [ ]:
print(my_list)

[1, 2, 3, 5, 10, 'hola', 'a', [1, 2, '3']]

In [28]:
students = ['Angelo', 'Diego', 'Edgar', 'Edwin', 'Enrique',['Estuardo','Jhon','Julio'],'Adolfo']
students
nested=students[5]
students[3:5] #ans 1
nested[1:3] #ans 2
students[-2][1:3] #ans 2
students[-4] #ans 3

['Edwin', 'Enrique']

In [ ]:
#    -5      -4        -3        -2       -1
#    0.       1.        2.      3.        4
#['Angelo', 'Diego', 'Edgar', 'Edwin', 'Enrique']

In [13]:
students[2]
students[2: 5]
students[1:3]

['Diego', 'Edgar']

In [5]:
students[3]

'Edwin'

In [6]:
students[-4]

'Diego'

In [11]:
# Slicing
#[2 - 4>
students[2:4]

['Edgar', 'Edwin']

In [10]:
#[-3 - -1>
students[-3:-1]

['Edgar', 'Edwin']

In [ ]:

my_list = [1, 2, 3, 4, 5, 6, [7, 8, 9], 10, 11, 12]

print(my_list[7])
print(my_list[-5])

print(my_list[0: 3])

print(my_list[-3:])
print(my_list[5:])

8
8
[1, 2, 3]
[10, 11, 12]
[6, 7, 8, 9, 10, 11, 12]

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, [7, 8, 9], 10, 11, 12]

# 1. con indice negativo [3, 4, 5]
# 2. extrae el listado [7, 8, 9]
# 3. extrae el valor 8
# 4. extrae el listado [[7, 8, 9], 10, 11, 12]

# 1. [>  inicio,  fin +1
print(my_list[2:5])
print(my_list[-8:-5])

# 2.
print(my_list[6])
print(my_list[-4])

# 3.
print(my_list[6][1])

# 4.
print(my_list[6:])

[3, 4, 5]
[3, 4, 5]
[7, 8, 9]
[7, 8, 9]
8
[[7, 8, 9], 10, 11, 12]

In [ ]:
print(my_list[:5])

[1, 2, 3, 4, 5]

In [ ]:
a = my_list[6]
a[1]

8

In [ ]:
len(my_list)

10

In [32]:
list_a = ['R', 'Python', 'C++']
list_b = ['spark', 'julia', 'pytorch']

list_a + list_b
len(list_b+list_a) #contabiliza el numero de elementos

6

In [ ]:
list_a.append(['spark', 'julia', 'pytorch'])
print(list_a)

['R', 'Python', 'C++', 'spark', 'julia', 'pytorch', ['spark', 'julia', 'pytorch'], ['spark', 'julia', 'pytorch']]

In [36]:
# ¿Como agregar elementos dentro de una lista con IA?
# append : agrega valores  la derecha
# insert: inseta elementos a una lista pero en una posicion donde el usuario indique moviendo todos los demas elementos a la derecha.


my_list=[]
my_list.append('Daniel')
my_list.append('Ramiro')
my_list.append('Herles')
my_list.insert(0, 'Jhon')
my_list.insert(2, 'Edgar')
my_list.insert(-1, 'Raul')
my_list

['Jhon', 'Daniel', 'Edgar', 'Ramiro', 'Raul', 'Herles']

In [38]:

# Escribe un programa que va a recibir el nombre de los estudiantes y los va a guardar en una lista
# modifica el programa para que cada estudiante nuevo y su materia se guarde en el primer slot de la lista y no en el ultimo

list_names = []
while True:
    name = input('Hola, ¿Cuál es tu nombre? (escriba exit para salir): ')
    if name == 'exit':
        break

    subject=input(f'¿Que materia esta cursando {name}? ')
    student_info=[name, subject]
    list_names.insert(0, student_info)

print('lista actualizada:', list_names)

Hola, ¿Cuál es tu nombre? (escriba exit para salir): raul
f¿Que materia esta cursando {name}? fisica
Hola, ¿Cuál es tu nombre? (escriba exit para salir): juan
f¿Que materia esta cursando {name}? quimica
Hola, ¿Cuál es tu nombre? (escriba exit para salir): marcos
f¿Que materia esta cursando {name}? matematica
Hola, ¿Cuál es tu nombre? (escriba exit para salir): exit
lista actualizada: [['marcos', 'matematica'], ['juan', 'quimica'], ['raul ', 'fisica']]

In [ ]:
list_names[-2]

'Geraldo'

In [ ]:
# Crear una lista de frutas
frutas = ["manzana", "banana", "naranja", "uva", "pera"]

In [ ]:

# Acceder a elementos individuales
primera_fruta = frutas[0]
ultima_fruta = frutas[-1]
print(primera_fruta, ultima_fruta)

In [ ]:
# Modificar un elemento
frutas[1] = "plátano"
print(frutas)

### Ejemplo 1.2: Métodos útiles de listas

In [ ]:
# Agregar un elemento al final
frutas.append("kiwi")
print(frutas)

In [ ]:

# Insertar un elemento en una posición específica
frutas.insert(2, "mango")
print(frutas)

In [41]:
students=['Jhon','Daniel','Ramiro','Herles','Alejandro']
students_b=['Sherly','Jorge', 'Bruno']
#extend es un metodo que realiza un in place, modifica el input inicial
students+students_b #no mdifica, solo contatena
students.extend(students_b) #modifica el input inicial
students

['Jhon', 'Daniel', 'Ramiro', 'Herles', 'Alejandro', 'Sherly', 'Jorge', 'Bruno']

In [49]:


students=['Jhon','Daniel','Ramiro','Herles','Alejandro']
students_b=['Sherly','Jorge', 'Bruno']
students.extend(students_b)

#elimine de students a los estudiantes students_b usando del
#del students[-3:]
del students[-len(students_b):]
print(students)

['Jhon', 'Daniel', 'Ramiro', 'Herles', 'Alejandro']

In [52]:
#pop elimina siempre el ultimo elemento / el valor que elimina lo genera como un objeto de retorno para otras utilidades
students=['Jhon','Daniel','Ramiro','Herles','Alejandro']
for x in students:
  student=students.pop()
  print(f'el alumno {student} fue eliminado')

el alumno Alejandro fue eliminado
el alumno Herles fue eliminado
el alumno Ramiro fue eliminado

In [53]:
#Crea un programa que reciba una lista de compras hasta que el usuario decida que esta listo, posteriormente que envie una orden de procesamiento por cada pedido y que
# elimine paulatinamente cada uno del carrito de compras mientras va proccesando

carrito_compras = []

print("Ingrese los artículos para su carrito de compras (escriba 'fin' para terminar):")

while True:
    articulo = input("> ") #indica tus articulos
    if articulo.lower() == 'fin': #listo
        break
    carrito_compras.append(articulo)

print("\nProcesando carrito de compras:")

while carrito_compras:
    articulo_a_procesar = carrito_compras.pop(0) #procesando
    print(f"Procesando: {articulo_a_procesar}")
    print(f"Artículos restantes: {carrito_compras}") #faltante

print("\n¡Carrito de compras procesado completamente!")

Ingrese los artículos para su carrito de compras (escriba 'fin' para terminar):
> fruta
> vegetales
> carne
> fin

Procesando carrito de compras:
Procesando: fruta
Artículos restantes: ['vegetales', 'carne']
Procesando: vegetales
Artículos restantes: ['carne']
Procesando: carne
Artículos restantes: []

¡Carrito de compras procesado completamente!

In [54]:
stock_items=['peras','naranja','papaya','manzana','piña']
stock_items.remove('manzana')
stock_items

['peras', 'naranja', 'papaya', 'piña']

In [ ]:
# Eliminar un elemento
frutas.remove("naranja")
print(frutas)

In [56]:
# Ordenar una lista
stock_items=['peras','naranja','papaya','manzana','piña']
stock_items.sort()
print(stock_items)

['manzana', 'naranja', 'papaya', 'peras', 'piña']

In [58]:
# Ordenar en reversa (aplica para numeros tambien)
stock_items.sort(reverse=True)
print(stock_items)

['piña', 'peras', 'papaya', 'naranja', 'manzana']

### Ejemplo 1.3: Operaciones numéricas con listas

In [60]:
numbers = [3,7,1,2,6,4]
numbers.sort(reverse=True) #se reasignan los valores (ordenamiento) es un in place
print(numbers)
numbers[0]

[7, 6, 4, 3, 2, 1]

7

In [62]:
numbers = [3,7,1,2,6,4]
sorted(numbers) #pero mantiene la lista original, solo muestra una vista reordenada, se le puede asignar a otra lista
print(sorted(numbers))

[1, 2, 3, 4, 6, 7]

In [65]:
stock_items=['peras','naranja','papaya','manzana','piña']
stock_items.revers
print(stock_items)

['peras', 'naranja', 'papaya', 'manzana', 'piña']

In [ ]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print("Mínimo:", min(digits))
print("Máximo:", max(digits))
print("Suma:", sum(digits))


numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Mínimo, máximo y suma
print("Mínimo:", min(numeros))
print("Máximo:", max(numeros))
print("Suma total:", sum(numeros))

# Longitud de la lista
print("Cantidad de elementos:", len(numeros))

# Promedio de los valores en la lista
promedio = sum(numeros) / len(numeros)
print("Promedio:", promedio)

In [68]:
#genera un programa qu permita ingresar el nombre de un estudiante y pregunte la nota de los cursos de matematicas, programacion y estadistica.
# luego calcule su promedio y guarde en dos listas separadas su nombre y su nota promedio final. El programa debe terminar cuando el usuario indique salir.

nombres = []
promedios = []

while True:
    nombre = input("Ingrese el nombre del estudiante (o 'salir' para terminar): ")
    if nombre.lower() == 'salir':
        break

    try:
        matematicas = float(input(f"Ingrese la nota de Matemáticas de {nombre}: "))
        programacion = float(input(f"Ingrese la nota de Programación de {nombre}: "))
        estadistica = float(input(f"Ingrese la nota de Estadística de {nombre}: "))

        promedio = (matematicas + programacion + estadistica) / 3

        nombres.append(nombre)
        promedios.append(promedio)

        print(f"El promedio de {nombre} es: {promedio:.2f}\n")

    except ValueError:
        print("Por favor, ingrese notas válidas (números).\n")

print("\n Resumen de notas")
for i in range(len(nombres)):
    print(f"Estudiante: {nombres[i]}: promedio: {promedios[i]:.2f}")

Ingrese el nombre del estudiante (o 'salir' para terminar): raul
Ingrese la nota de Matemáticas de raul: 18
Ingrese la nota de Programación de raul: 19
Ingrese la nota de Estadística de raul: 15
El promedio de raul es: 17.33

Ingrese el nombre del estudiante (o 'salir' para terminar): juan
Ingrese la nota de Matemáticas de juan: 17
Ingrese la nota de Programación de juan: 14
Ingrese la nota de Estadística de juan: 15
El promedio de juan es: 15.33

Ingrese el nombre del estudiante (o 'salir' para terminar): salir

 Resumen de notas
Estudiante: raul: promedio: 17.33
Estudiante: juan: promedio: 15.33

In [ ]:
my_nums = [1, 2, 3, 4, ...... , 99]

In [ ]:
#[>
for x in range(1, 100):
  print(x)

## 1.2: Uso de la función range()

La función range() se utiliza para generar secuencias de números, y es especialmente útil cuando se quiere evitar la creación manual de listas largas de números consecutivos.

In [70]:
list(range(0,10)) #lo convierte en una lista
# range es iterable, permite agregar saltos
list(range(0,13,3)) #lo convierte en una lista

[0, 3, 6, 9, 12]

In [71]:
#usando range, imprima los multiplos de 13 menores de 200
list(range(0, 200, 13))

[0, 13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

### Ejemplo 1.4: Creación de listas con range()

In [ ]:
# Crear una lista con los números del 1 al 10
lista_numeros = list(range(1, 11))
print("Números del 1 al 10:", lista_numeros)

In [ ]:
# Crear una lista con los números pares entre 2 y 20
pares = list(range(2, 21, 2))
print("Números pares del 2 al 20:", pares)

In [ ]:
# Crear una lista de números en orden inverso (del 10 al 1)
reversa = list(range(10, 0, -1))
print("Números en orden inverso:", reversa)

In [ ]:
# Crear una lista de múltiplos de 5 entre 0 y 50
multiplos_de_5 = list(range(0, 51, 5))
print("Múltiplos de 5 entre 0 y 50:", multiplos_de_5)

### Ejercicio 1.1: Operaciones numéricas con listas

- Crea una lista de números entre 1 y 100 usando la función range() (verás cómo usarla en el próximo ejemplo).

- Calcula la media de los valores de la lista usando las funciones sum() y len().

- Usa sorted() para crear una lista ordenada inversamente de los primeros 50 números.

- Crea una lista que contenga solo los números mayores a 50, multiplicados por 2.

## <b>2. Listas por Comprensión</b>

Las listas por comprensión son una forma concisa de crear listas nuevas a partir de una expresión. Se pueden utilizar para realizar operaciones sobre secuencias de forma más rápida y sin necesidad de ciclos explícitos.

In [ ]:
for x in [1, 2, 3]:
  print(x)

1
2
3

In [ ]:
[x for x in [1, 2, 3]]

[1, 2, 3]

In [ ]:
[x for x in range(1, 11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
from math import log

[log(x) for x in range(1, 21)]

[0.0,
 0.6931471805599453,
 1.0986122886681098,
 1.3862943611198906,
 1.6094379124341003,
 1.791759469228055,
 1.9459101490553132,
 2.0794415416798357,
 2.1972245773362196,
 2.302585092994046,
 2.3978952727983707,
 2.4849066497880004,
 2.5649493574615367,
 2.6390573296152584,
 2.70805020110221,
 2.772588722239781,
 2.833213344056216,
 2.8903717578961645,
 2.9444389791664403,
 2.995732273553991]

In [ ]:
[x*2 for x in range(100, 501) if x%17 == 0]

[204,
 238,
 272,
 306,
 340,
 374,
 408,
 442,
 476,
 510,
 544,
 578,
 612,
 646,
 680,
 714,
 748,
 782,
 816,
 850,
 884,
 918,
 952,
 986]

In [ ]:
features_pas = ['ahorros_prom12', 'abonos_prom12', 'cargos_prom12', 'trxn_prom12']
features_rcc = ['deuda_prom12', 'entidades_prom12', 'atraso_prom12']

my_list1 = ['pas_'  + x.upper() for x in features_pas]
my_list2 =  ['rcc_' + x.upper() for x in features_pas]

my_list1 + my_list2

['pas_AHORROS_PROM12',
 'pas_ABONOS_PROM12',
 'pas_CARGOS_PROM12',
 'pas_TRXN_PROM12',
 'rcc_AHORROS_PROM12',
 'rcc_ABONOS_PROM12',
 'rcc_CARGOS_PROM12',
 'rcc_TRXN_PROM12']

### Ejemplo 2.1: Generación de listas por comprensión

In [ ]:
# Crear una lista de cuadrados de los números del 1 al 10
cuadrados = [x**2 for x in range(1, 11)]
print(cuadrados)

In [ ]:
# Crear una lista de números pares entre 1 y 20
pares = [x for x in range(1, 21) if x % 2 == 0]
print(pares)

### Ejemplo 2.2: Listas por comprensión con manipulación de cadenas

In [ ]:
# Crear una lista con las primeras letras en mayúsculas de una lista de nombres

nombres = ["juan", "pedro", "ana", "maria"]
nombres_mayuscula = [nombre.capitalize() for nombre in nombres]
print(nombres_mayuscula)

### Ejercicio 2: Creación avanzada con listas por comprensión

- Crea una lista de los números impares entre 1 y 50.
- Genera una lista con los cubos de los primeros 10 números (1 al 10).
- Dada una lista de palabras, crea una nueva lista que contenga las palabras con más de 4 letras en mayúsculas.

In [ ]:
# 1. Crea una lista de los números impares entre 1 y 50.

lista_impares = [x for x in range(1,51) if x%2 != 0]
print(lista_impares)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [ ]:
# 2. Genera una lista con los cubos de los primeros 10 números (1 al 10).

[x**3 for x in range(1, 11)]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# 3. Dada una lista de palabras, crea una nueva lista que contenga las palabras con más de 4 letras en mayúsculas

word_list = []

while True:
  word = input("Ingrese una palabra (escriba exit para salir): ")
  if word == "exit":
    break
  else:
    word_list.append(word)
    print("lista actualizada", word_list)

word_mayusculaa = [word.upper() for word in word_list if len(word) > 4]
print(word_mayusculaa)

In [ ]:
for x in 'jOhN':
    if x == x.upper():
        print(x)

O
N

In [ ]:
word = ''
len([x for x in word if x == x.upper()])

2

In [ ]:

word_list = []

while True:
  word = input("Ingrese una palabra (escriba exit para salir): ")
  if word == "exit":
    break
  else:
    word_list.append(word)
    print("lista actualizada", word_list)

word_mayusculaa = [word for word in word_list if len([x for x in word if x == x.upper()]) > 4]
print(word_mayusculaa)

Ingrese una palabra (escriba exit para salir): john
lista actualizada ['john']
Ingrese una palabra (escriba exit para salir): MIA
lista actualizada ['john', 'MIA']
Ingrese una palabra (escriba exit para salir): ANGELO
lista actualizada ['john', 'MIA', 'ANGELO']
Ingrese una palabra (escriba exit para salir): DIEGO
lista actualizada ['john', 'MIA', 'ANGELO', 'DIEGO']
Ingrese una palabra (escriba exit para salir): sebastian
lista actualizada ['john', 'MIA', 'ANGELO', 'DIEGO', 'sebastian']
Ingrese una palabra (escriba exit para salir): exit
['ANGELO', 'DIEGO']

In [ ]:

def greatings():
  """Esta función saluda a los estudiantes nuevos"""
  print('Bienvenido al curso!')

In [ ]:
greatings()

Bienvenido al curso!

In [ ]:

def greatings(name):
  """Esta función saluda a los estudiantes nuevos"""
  print(f'Bienvenido al curso {name}!')

In [ ]:
greatings('John')

Bienvenido al curso John!

In [ ]:
greatings('Edwin')

Bienvenido al curso Edwin!

In [ ]:
greatings('Edgar')

Bienvenido al curso Edgar!

In [ ]:

def sum(a, b):
  """Esta función suma dos argumentos a y b"""
  print(f'la suma es: {a + b}')

In [ ]:
sum(4, 5)

la suma es: 9

In [ ]:
sum(5, 12)

la suma es: 17

In [ ]:
sum?

## <b>3. Trabajando con Slicing</b>

El slicing es una técnica que te permite extraer sublistas de listas existentes, seleccionando elementos de una lista mediante índices.

### Ejemplo 3.1: Slicing de listas

In [ ]:
# Crear una lista de letras
letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
# Extraer una subsección de la lista
primeras_tres = letras[:3]  # Primeros 3 elementos
print(primeras_tres)

In [ ]:
desde_el_cuarto = letras[3:]  # Desde el cuarto hasta el final
print(desde_el_cuarto)

In [ ]:
ultimos_dos = letras[-2:]  # Los últimos dos elementos
print(ultimos_dos)

### Ejemplo 3.2: Slicing con pasos

In [ ]:
# Crear una lista de números del 1 al 10
numeros = list(range(1, 11))

In [ ]:

# Obtener todos los números en posiciones pares
pares = numeros[1::2]  # Inicia en el segundo elemento y salta de 2 en 2
print(pares)

In [ ]:
# Obtener cada tercer número
tercios = numeros[::3]
print(tercios)

### Ejercicio 3: Aplicaciones de slicing

Crea una lista con los números del 1 al 100. Luego, usando slicing:
- Extrae los primeros 10 números.
- Extrae los últimos 10 números.
- Extrae todos los números en posiciones impares.
- Usa slicing para dividir una lista de palabras en dos mitades.

## <b>4. Trabajando con Tuplas
</b>

Las tuplas son como listas, pero inmutables, lo que significa que no se pueden modificar después de su creación. Son útiles para almacenar datos que no deben cambiar.

### Ejemplo 4.1: Crear y acceder a tuplas

In [ ]:
# Crear una tupla
coordenadas = (10.5, 20.3)

# Acceder a los elementos de la tupla
print("X:", coordenadas[0])
print("Y:", coordenadas[1])

### Ejemplo 4.2: Intento de modificación de una tupla

In [ ]:
# Crear una tupla
dimensiones = (200, 50)

In [ ]:
# Intentar modificar la tupla (esto generará un error)
# dimensiones[0] = 250  # Descomenta esta línea para ver el error

In [ ]:
# Reasignar una nueva tupla
dimensiones = (400, 100)
print("Nuevas dimensiones:", dimensiones)

### Ejercicio 4: Trabajando con tuplas
- Crea una tupla que almacene las dimensiones de un objeto (ancho, alto).
- Intenta modificar un elemento de la tupla y observa el error que genera.
- Reescribe la tupla completa con nuevas dimensiones.

## <b>5. Desafío</b>

### Desafío 1: Análisis de ventas de una tienda de ropa

Eres el encargado de una tienda de ropa y tienes una lista de ventas diarias para diferentes productos. Cada día, vendes camisetas, pantalones y zapatos. Quieres analizar las ventas para entender mejor el rendimiento de cada producto.

<b>Objetivo:</b>

- Crea tres listas: una para camisetas, otra para pantalones y una para zapatos, con la cantidad vendida cada día durante una semana.
- Usa slicing para extraer las ventas de los últimos 3 días de cada producto.
- Usa listas por comprensión para calcular el total de ventas de cada producto y el promedio de ventas diarias.

- Clasifica los productos en "buenas ventas" o "malas ventas" según si el promedio de ventas diarias es mayor o menor a 5.

Instrucciones:
- Genera los datos de ventas usando listas manualmente o simulándolos con valores constantes.
- Calcula el total de ventas por producto usando sum() y el promedio con len().
- Usa listas por comprensión para clasificar las ventas de los productos.

---

# Gracias por completar este laboratorio!

---